@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    font-family: 'Kanit', cursive;  
}
.card { /*? ขอบ card */
    border-radius: 15px;
}
.cardEditCoverImg { /*? รูปปก */
    margin: 1.5% 0% 0% 0%;
    border: none;
    height: 250px;
    width: auto;
    background-image:url('https://shorturl.asia/KSxPL');
}
.inputCoverImg { /*? ช่อง input เลือกรูป */
    border-radius: 15px;
    height: 250px;
    border: none;
    opacity: 0%;
}
.cardEditData { /*? card ส่วนล่าง */
    margin: -8% 0% 10% 0%;
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 8px rgb(223, 223, 223);
}
.editProfileImg { /*? รูปโปร */
    border-radius: 50%;
    border: none;
    border: 2.5px solid white;
    width: 90%;
    margin: -40% 20% 5% 17%;
}
.TitleEditData { /*? text แก้ไขข้อมูล */
    color: #EF5DA8;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0% 0% 10% 0%;
}
.form-editProfile { /* ! div ที่ครอบ data */
    margin: 2% 10% 5% 10%;
}
.form-editProfile h5 { /*? text หัวข้อ input สีชมพู */
    color: #EF5DA8;
    font-size: 18px;
    font-weight: bold;
    margin: 0% 0% 1% 2%;
}
.form-editProfile input { /*? ช่อง input */
    border-radius: 15px;
}
.select { /*? dropdown */
    border-radius: 15px;
}
.submitEditProfile { /** ปุ่มบันทึก */
    background: #ff75b1;
    border: none;
    border-radius: 15px;
    width: 46%;
    height: 38px;
    margin: 12% 0% 5% 0%;
    box-shadow: 2px 2px 4px gray;
}
.submitEditProfile:hover {background-color: #EF5DA8}
.submitEditProfile:active {
    background-color: #EF5DA8;
    box-shadow: 2px 2px #bfbfbf;
}
.cancelEditProfile { /** ปุ่มยกเลิก */
    background: #adadad;
    border: none;
    border-radius: 15px;
    width: 46%;
    height: 38px;
    margin: 12% 0% 5% 0%;
    box-shadow: 2px 2px 4px gray;
}
.cancelEditProfile a { /** ตัวหนังสือปุ่มยกเลิก */
    color: #000000;
    text-decoration: none;
}
.cancelEditProfile:hover {background-color: #8f8f8f}
.cancelEditProfile:active {
    background-color: #8f8f8f;
    box-shadow: 2px 2px #bfbfbf;
}
