@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    font-family: 'Kanit', cursive;
    
}
.saveData-title { /*? หัวข้อ */
    margin-top: 3%;
    color: #ef5da8;
    text-align: center;
}
.saveData-bigRow {
    margin-top: 3%;
}
.sub-col {
    border-left: 3px solid #9d9d9d;
    margin-left: 1%;
    padding-left: 2%;
}
.saveData-border-bgcolor { /*? div สีพื้นหลัง */
    /* background-color: #ef5da8; */
    background: #ff70c1; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #ff70c1, #439bff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ff70c1, #439bff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ff70c1, #439bff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ff70c1, #439bff); /* Standard syntax (must be last) */
    width: 204px;
    height: 204px;
    border-radius: 50%;
}
.saveData-img-profile-default { /*? รูปโปรไฟล์ */
    width: 192px;
    height: 192px;
    border-radius: 50%;
    margin: -232px 0px 0px 0px;
}
.saveData-img-card-default { /*? รูปบัตรประชาชน */
    width: 300px;
    border-radius: 20px;
    margin-top: 6%;
}

.saveData-btn-upload { /*? ปุ่มอัพโหลด */
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background-color: #ffbce0;
    color: #646464;
    box-shadow: 1px 2px 6px rgb(146, 146, 146);
}
.saveData-btn-upload:hover {
    background-color: #EF5DA8;
    color: #fff;
}
#message, #messageIdCard { /*? ข้อความกรุณาเลือกภาพแล้วกดอัพโหลด */
    color: #9d9d9d;
    margin-top: 1%;
    font-size: 14px;
}


.form-label { /*? text หัวข้อย่อย */
    color: #ef5da8;
}
.form-control { /*? ช่อง input */
    border-radius: 20px;
}
.form-select { /*? ช่อง input จังหวัด */
    border-radius: 20px;
    margin-top: 6%;
}

.saveData-btn {
    border: none;
    box-shadow: 1px 2px 6px rgb(146, 146, 146);
    border-radius: 20px;
    background-color: #6fb9ff;
    width: 30%;
    height: 37px;
    margin-top: 8%;
}
.saveData-btn:hover {
    background-color: #3ca1ff;
    color: #ffffff;
}
.saveData-btn-cancel {
    border: none;
    box-shadow: 1px 2px 6px rgb(146, 146, 146);
    border-radius: 20px;
    background-color: #ababab;
    width: 30%;
    height: 37px;
    color: #000000;
    text-decoration: none;
}
.saveData-btn-cancel:hover {
    background-color: #797979;
    color: #ffffff;
}

@media screen and (max-width:992px){
    .saveData-btn-upload {
        height: 37px;
        margin-top: 3%;
    }
    .saveData-btn {
        margin-bottom: 5%;
    }
}