@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://kit.fontawesome.com/1483030a44.js');
body{
    font-family: 'Kanit', cursive;  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-report-title {
    color: #ef5da8;
    font-weight: bold;
}
.modal-report-div-img { /*! div img */
    display: flex;
    flex-wrap: wrap;
}
.modal-report-img {
    width: 100%;
    border-radius: 20px;
}

.text-title-report {
    margin: 5% 0% 0% 2%;
    color: #ef5da8;
    font-size: 18px;
}
.modal-report-select {
    border-radius: 20px;
}

.text-detail-report {
    margin-left: 2%;
    color: #ef5da8;
    font-size: 18px;
}
.input-detail-report {
    border-radius: 20px;
}

.modal-report-btn-ok {
    background-color: #ff1f1f;
    color: #222222;
    border-radius:20px;
    margin: 5% 3% 0% 0%;
    width: 150px;
    height: 37px;
}
.modal-report-btn-ok:hover {
    background-color: #c90b0b;
    color: #ffffff;
}

.modal-report-btn-cancel {
    background-color: #ababab;
    color: #222222;
    border-radius: 20px;
    margin-top: 5%;
    width: 150px;
    height: 37px;
}
.modal-report-btn-cancel:hover {
    background-color: #797979;
    color: #ffffff;
}

.fa-model-report {
    color: #c91313;
    margin-right: 1%;
    font-size: 20px;
}